.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  height: auto;
}

.titleGrupo {
  margin: 15px;
  text-align: left;
  color: var(--text-color);
  font-size: 2rem;
}

.formulario label {
  width: 100%;
  color: var(--text-color);
  font-size: var(--font-size__mobile);
  border-radius: 5px;
}

.formulario input {
  margin: 5px 0;
  padding: 10px 15px;
  width: 100%;
  color: var(--text-color);
  font-size: var(--font-size__mobile);
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}

.formulario input:focus {
  border: 1px solid var(--primary-color);
}

.formulario select {
  margin: 5px 0;
  padding: 10px 15px;
  width: 100%;
  color: var(--text-color);
  font-size: var(--font-size__mobile);
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}

.formulario select:focus {
  border: 1px solid var(--primary-color);
}

.formulario option:active {
  background-color: var(--primary-color);
}

.labelEnviar {
  text-align: right;
}